<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <form ng-submit="login(email, password)" name="loginForm" ng-show="user == null">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" ng-model="email" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" ng-model="password" class="form-control" required />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" />
                </div>
            </form>
            <p ng-hide="user == null"> You're logged in as {{user.email}} </p>

        </div>
    </div>
</div>
