<div class="reviews">
    <h2>Reviews</h2>
    <blockquote ng-repeat="review in model.reviews">
        <p style="color:gold">
            <span ng-show="review.stars >= 5" class="glyphicon glyphicon-star"></span>
            <span ng-show="review.stars >= 4" class="glyphicon glyphicon-star"></span>
            <span ng-show="review.stars >= 3" class="glyphicon glyphicon-star"></span>
            <span ng-show="review.stars >= 2" class="glyphicon glyphicon-star"></span>
            <span ng-show="review.stars >= 1" class="glyphicon glyphicon-star"></span>
        </p>
        <p>{{review.body}}</p>
        <cite>{{review.author}}</cite>
    </blockquote>
    <!--New Review-->
    <h2>Add Your Review</h2>
    <form>
        <blockquote>
            <p style="color:gold">
                <span ng-show="newReview.stars >= 5" class="glyphicon glyphicon-star"></span>
                <span ng-show="newReview.stars >= 4" class="glyphicon glyphicon-star"></span>
                <span ng-show="newReview.stars >= 3" class="glyphicon glyphicon-star"></span>
                <span ng-show="newReview.stars >= 2" class="glyphicon glyphicon-star"></span>
                <span ng-show="newReview.stars >= 1" class="glyphicon glyphicon-star"></span> </p>
            <p>{{newReview.body}}</p> <cite class="pull-right">{{newReview.author}}</cite>
        </blockquote>
        <div class="form-group">
            <label for="stars" class="control-label">Rating</label>
            <select class="form-control" name="stars" ng-model="newReview.stars">
                <option value="1">1 star</option>
                <option value="2">2 stars</option>
                <option value="3">3 stars</option>
                <option value="4">4 stars</option>
                <option value="5">5 stars</option>
            </select>
        </div>
        <div class="form-group">
            <label for="body" class="control-label">Review</label>
            <textarea class="form-control" name="body" ng-model="newReview.body"></textarea>
        </div>
        <div class="form-group">
            <label for="author" class="control-label">Email</label>
            <input type="email" class="form-control" name="author" ng-model="newReview.author" />
        </div>
        <input type="submit" value="Finish" class="btn btn-default" />
    </form>

</div>
